<div class="cards-section-main-container">
    <div class="cards-section-content-div">
        <ul class="cards-section-ul">
            <li class="cards-section-card-items">
                <div class="cards-section-card-item-inner-div">
                    <button class="cards-section-favorites-button">
                        <img src="../img/heart-filled.png" alt="banana pancakes" />
                    </button>
                    <img src="../img/cards-card-img_willbedeleted.png" width="335px" height="335px" />
                    <div class="cards-section-card-content">
                        <h3 class="cards-section-card-content-title">BANANA PANCAKES</h3>
                        <p class="cards-section-card-content-p">Banana pancakes are a fluffy and sweet breakfast dish made with mashed ripe bananas, eggs, flour,..</p>
                        <div class="cards-section-card-bottom-div">
                            <div>
                                <p class="cards-section-card-bottom-div-rating">3.4</p>
                                <img src="../img/star.png" alt="star" />
                                <img src="../img/star-empty.png" alt="star" />
                                <img src="../img/star.png" alt="star" />
                                <img src="../img/star-empty.png" alt="star" />
                                <img src="../img/star.png" alt="star" />
                            </div>
                            <button>See recipe</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>