<div class="header-main-chefs-section">
  <div class="header-chefs">
    <figure>
        <img src="/src/img/header-pics/chef1.png" alt="chef">
    </figure>
    <figure>
        <img src="/src/img/header-pics/plate1.png" alt="plate">
    </figure>
    <figure>
        <img src="/src/img/header-pics/platezoom1.png" alt="plate zoom">
    </figure>
    <figure>
        <img src="/src/img/header-pics/chef2.png" alt="chef">
    </figure>
    <figure>
        <img src="/src/img/header-pics/pizza-picture.png" alt="pizza">
    </figure>
    <figure>
        <img src="/src/img/header-pics/pizza-picture-zoom.png" alt="pizza">
    </figure>
    <figure>
        <img src="/src/img/header-pics/chef3.png" alt="chef">
    </figure>
    <figure>
        <img src="/src/img/header-pics/pie.png" alt="pie">
    </figure>
    <figure>
        <img src="/src/img/header-pics/pie-zoom.png" alt="pie">
    </figure>
  </div>
</div>
