<div class="all-categories-main-container">
  <div class="all-categories-content-div">
    <button class="all-categories-btn">All Categories</button>
    <div class="all-categories-menu">
      <ul class="categories-list" id="categories-list">
        <!-- <li>Beef</li>
        <li>Breakfast</li>
        <li>Chicken</li>
        <li>Dessert</li>
        <li>Goat</li>
        <li>Beef</li>
        <li>Breakfast</li>
        <li>Chicken</li>
        <li>Dessert</li>
        <li>Goat</li>
        <li>Beef</li>
        <li>Breakfast</li>
        <li>Chicken</li>
        <li>Dessert</li>
        <li>Goat</li> -->
      </ul>
    </div>
  </div>
</div>
