<footer class="footer">
  <div class="page-select">
    <div class="left-direction-arrow">
      <button class="page-button one-arrow-left">&laquo;</button>
      <button class="page-button double-arrow-left">&lsaquo;</button>
    </div>
    <div class="page-number-btn">
      <button class="page-button button first-page-btn">1</button>
      <button class="page-button button second-page-btn">2</button>
      <button class="page-button button third-page-btn">3</button>
      <button class="page-button button tridot-page-btn">...</button>
    </div>
    <div class="right-direction-arrow">
      <button class="page-button one-arrow-right">&rsaquo;</button>
      <button class="page-button double-arrow-right">&raquo;</button>
    </div>
  </div>
    <div class="container">
      <button class="scroll-to-up" id="scroll-page-up" style="display: block;">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" class="scroll-btn-svg-icon" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708z"></path>
          <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"></path>
        </svg>
      </button>
    </div>
  </footer>
  