    <link rel="stylesheet" href="/src/css/hero.css" />
    <div class="hero-section-order-now">
      <div class="hero-section-order-card">
        <h1 class="hero-section-order-title">
          LEARN TO COOK
          <span class="hero-section-highlight">TASTY TREATS'</span> CUSTOMIZABLE MASTERCLASS
        </h1>
        <p class="hero-section-order-p">
          TastyTreats - Customize Your Meal with Ingredient Options and
          Step-by-Step Video Guides.
        </p>
        <a href="#" class="hero-section-order-button">Order now</a>
      </div>
    </div>

