<!DOCTYPE html>
<html lang="en">
  <body>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/hero.css" />
    <link rel="stylesheet" href="/src/css/base.css" />
    <div>
      <div class="card">
        <h1 class="order-title">
          LEARN TO COOK
          <span class="highlight">TASTY TREATS'</span> CUSTOMIZABLE MASTERCLASS
        </h1>
        <p class="order-p">
          TastyTreats - Customize Your Meal with Ingredient Options and
          Step-by-Step Video Guides.
        </p>
        <a href="#" class="button">Order now</a>
      </div>
    </div>
  </body>
</html>
