<div class="HeroSectionTheMainContainer">
  <div class="HeroSection1">
    <div class="HeroSectionOrderNow">
      <div class="HeroSectionOrderCard">
        <h1 class="HeroSectionOrderTitle">
          LEARN TO COOK
          <span class="HeroSectionHighlight">TASTY TREATS'</span> CUSTOMIZABLE
          MASTERCLASS
        </h1>
        <p class="HeroSectionOrderP">
          TastyTreats - Customize Your Meal with Ingredient Options and
          Step-by-Step Video Guides.
        </p>
        <a href="#" class="HeroSectionOrderButton" id="openModal">
          Order now
        </a>
      
      </div>
    </div>
  </div>

  <div class="HeroSection2">
    <div class="SliderContainer">
      <div class="HeadeMainChefsSection">
        <div class="HeadeChefsMain">
          <!-- Slide 1 -->
          <div class="Slide">
            <figure class="ImageContainer">
              <img
                src="../img/header-pics/chef1.png"
                alt="chef"
                class="HeaderChefs SmallImage"
                data-src="1"
              />
            </figure>
            <div class="content">
              <figure class="ImageWrapper">
                <img
                  src="../img/header-pics/plate1.png"
                  alt="plate"
                  class="ImageLarge HeaderChefs plate"
                  data-src="2"
                />
              </figure>
              <div class="TextContent">
                <p>Grilled, smoky, delicious barbecue</p>
                <span class="subtext">Spanish</span>
              </div>
            </div>
            <figure class="LastItem">
              <img
                src="../img/header-pics/ImageMed1.png"
                alt="plate zoom"
                class="ImageMed HeaderChefs PlateZoom"
                data-src="3"
              />
            </figure>
          </div>

          <!-- Slide 2 -->
          <div class="Slide">
            <figure class="ImageContainer">
              <img
                src="../img/header-pics/chef2.png"
                alt="chef"
                class="HeaderChefs SmallImage"
                data-src="4"
              />
            </figure>
            <div class="content SecondContent">
              <figure class="ImageWrapper">
                <img
                  src="../img/header-pics/pizza-picture.png"
                  alt="pizza"
                  class="ImageLarge HeaderChefs plate"
                  data-src="5"
                />
              </figure>
              <div class="TextContent">
                <p>Hot, cheesy and satisfying pizza</p>
                <span class="subtext">Italian</span>
              </div>
            </div>
            <figure class="LastItem">
              <img
                src="../img/header-pics/pizza-picture-zoom.png"
                alt="pizza"
                class="ImageMed HeaderChefs PlateZoom"
                data-src="6"
              />
            </figure>
          </div>

          <!-- Slide 3 -->
          <div class="Slide">
            <figure class="ImageContainer">
              <img
                src="../img/header-pics/chef3.png"
                alt="chef"
                class="HeaderChefs SmallImage"
                data-src="7"
              />
            </figure>
            <div class="content">
              <figure class="ImageWrapper">
                <img
                  src="../img/header-pics/pie.png"
                  alt="pie"
                  class="ImageLarge HeaderChefs plate"
                  data-src="8"
                />
              </figure>
              <div class="TextContent">
                <p>Fluffy and sweet pancakes</p>
                <span class="subtext">American</span>
              </div>
            </div>
            <figure class="LastItem">
              <img
                src="../img/header-pics/pie-zoom.png"
                alt="pie"
                class="ImageMed HeaderChefs PlateZoom"
                data-src="9"
              />
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="SlideButton"></div>
  </div>
</div>
