<link rel="stylesheet" href="/src/css/order-now-modal.css"/>
<div class="order-now-modal" id="orderNowModal">
    <div class="order-modal-content">
        <span class="order-close" id="closeModal">&times;</span>
        <h2>ORDER NOW</h2>
        <div class="order-now-form-group">
            <label>Name</label>
            <input type="text" placeholder="Enter your name">
        </div>
        <div class="order-now-form-group">
            <label>Phone number</label>
            <input type="text" placeholder="Enter your phone">
        </div>
        <div class="order-now-form-group">
            <label>Email</label>
            <input type="email" placeholder="Enter your email">
        </div>
        <div class="order-now-form-group">
            <label>Comment</label>
            <textarea placeholder="Enter your comment"></textarea>
        </div>
        <button class="order-now-send-button">Send</button>
    </div>
</div>
</div>