<link rel="stylesheet" href="/src/css/order-now-modal.css" />
 <div class="hero-modal-now-form">
<title>Order Now Modal</title>
 <div class="order-now-modal" id="modal">
        <div class="order-modal-content">
            <span class="order-now-close" id="closeModal">&times;</span>
            <h2 class="order-modal-title">ORDER NOW</h2>
            <form class="hero-order-modal-form">
                <label for="name" class="order-modal-label">Name</label>
                <input type="text" id="name" class="hero-order-modal-input" placeholder="Enter your name">

                <label for="phone" class="order-modal-label">Phone number</label>
                <input type="tel" id="phone" class="hero-order-modal-input" placeholder="Enter your phone">

                <label for="email" class="order-modal-label">Email</label>
                <input type="email" id="email" class="hero-order-modal-input" placeholder="Enter your email">

                <label for="comment" class="order-modal-label">Comment</label>
                <textarea id="comment" class="hero-order-modal-textarea" placeholder="Enter your comment"></textarea>

                <button type="submit" class="hero-order-submit-btn">Send</button>
            </form>
        </div>
    </div>
 </div>
