<div class="heroModalNowForm" id="orderModal">
  <div class="orderNowModal">
    <div class="orderModalContent">
      <span class="orderNowClose" id="closeModal">&times;</span>
      <h2 class="orderModalTitle">ORDER NOW</h2>
      <form class="heroOrderModalForm">
        <label for="name" class="orderModalLabel">Name</label>
        <input
          type="text"
          id="name"
          class="heroOrderModalInput"
          placeholder="Enter your name"
        />

        <label for="phone" class="orderModalLabel">Phone number</label>
        <input
          type="tel"
          id="phone"
          class="heroOrderModalInput"
          placeholder="+38 073 0000000"
          pattern="^\+38\s\d{3}\s\d{7}$"
        />

        <label for="email" class="orderModalLabel">Email</label>
        <input
          type="email"
          id="email"
          class="heroOrderModalInput"
          placeholder="Enter your email"
        />

        <label for="comment" class="orderModalLabel">Comment</label>
        <textarea
          id="comment"
          class="heroOrderModalTextarea"
          placeholder="Enter your comment"
        ></textarea>

        <button type="submit" class="heroOrderSubmitBtn">Send</button>
      </form>
    </div>
  </div>
</div>
