<div class="popular-recipes-main-container">
    <div class="popular-recipes-content-div">
        <h2 class="popular-recipes-section-header">POPULAR RECIPES</h2>
        <!-- Unit element that will be mapped with JS -->
        <!-- Number of elements will be arranged by JS -->
        <ul class="popular-recipes-ul">
            
            <!-- 
            <li>
                <div class="pop-recipe-unit-div">
                    <img class="pop-recipe-img" src="../img/pop-recipes-temp.png" alt="French Omelette" width="64" height="64"/>
                    <div class="pop-recipe-header-n-text-div">
                        <h3 class="popular-recipe-title">FRENCH...</h3>
                        <p class="popular-recipe-text">A French omelette is a simple yet elegant dish made with whisked egg..</p>
                    </div>
                </div>
            </li>            
             -->
        </ul>
    </div>
</div>