<div id="see-recipes-modal-form">
  <div id="see-recipes-modal">
    <div class="see-recipes-modal-content">
        <span class="see-recipes-close-btn">&times;</span>
        <h2 id="see-recipes-modal-name"></h2>
        <div id="see-recipes-modal-video">
        <!-- <iframe id="see-recipes-modal-video-frame" width="550" height="250" src="" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
         allowfullscreen></iframe> -->
       </div>
       <div class="see-recipes-modal-info">
       <p><span id="see-recipes-modal-tags"></span></p>
       <p><span id="see-recipes-modal-rating"></span> <span id="see-recipes-modal-rating-stars"
             class="stars"></span></p>
        <p><span id="see-recipes-modal-time"></span></p>
       </div>
       <div id="see-recipes-modal-material"></div>
        <p id="see-recipes-modal-instructions"></p>
        <button id="see-recipes-modal-favorite-btn">Add to favorite</button>
        <button id="see-recipes-modal-rating-btn">Give a rating</button>
    </div>
    </div>
  </div>