:root {
  --background-color: #ffffff;
  --secondary-color: #050505;
  --text-color: #333;
  --primary-color: #9bb537;
  --border-color: #05050533;
  --white-bg: #f8f8f8;
  --font-family: 'Inter', sans-serif;
}

body {
  font-family: var(--font-family);
}

body.darkmode {
  --background-color: #1e1e1e;
  --text-color: #ffffff;
  --primary-color: #9bb537;
}
