:root {
    --background-color: #FFFFFF;
    --secondary-color: #050505;
    --text-color: #333;
    --primary-color: #9BB537;
    --border-color: #05050533;
    --white-bg: #f8f8f8;
    --font-family: "Inter";
}

body {
    font-family: var(--font-family);
}

body.darkmode {
    --background-color:#1E1E1E;
    --text-color:#FFFFFF;
    --primary-color: #9BB537;
}   


    .main-main-parent-container{

        margin:auto;
        
    }

@media (min-width:768px){
    .categories-n-popular-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 176px;
    }

    .filters-n-cards-container {
        display:flex;
        flex-direction: column; 
        max-width: 496px;
    }
    .main-main-parent-container{
        display:flex;
        flex-direction: row;
        justify-content: center;
        max-width: 768px;
        gap:32px;

    }
}


@media (min-width:1280px){
    .categories-n-popular-container {
        max-width: 235px;
    }

    .filters-n-cards-container {
        max-width: 782px;
    }
    .main-main-parent-container{
        max-width: 1280px;
        gap:65px;

    }
}