.AllCategoriesMainContainer {
  color: #0505054D;
  max-width: 335px;
  margin: auto;
  margin-bottom: 40px;
}

.AllCategoriesContentDiv {
  margin: auto;
}

.AllCategoriesBtn {
  background: none;
  border: 1px solid #0505054D;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
  padding: 12px 18px;
  color: #05050580;
}

.AllCategoriesBtn:hover {
  background-color: #9BB537;
  color: #F8F8F8;
}

.AllCategoriesBtn:focus {
  background-color: #9BB537;
}

.AllCategoriesMenu {

  max-height: 198px;
  overflow-y: auto;
  width: 326px;
  border-radius: 12px;
  margin-top: 15px;
}

.AllCategoriesMenu::-webkit-scrollbar {
  width: 8px;
}

.AllCategoriesMenu::-webkit-scrollbar-thumb {
  background-color: #0505052E;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.AllCategoriesMenu::-webkit-scrollbar-button {
  display: none;
}

#CategoriesList {
  list-style: none;
}

#CategoriesList li {
  padding: 10px;
  cursor: pointer;
  line-height: 20px;
}

#CategoriesList li:hover {
  color: #9BB537;
}

#CategoriesList li:focus {
  color: #9BB537;
}

@media (min-width: 768px) {
  .AllCategoriesBtn {
    max-width: 100%;
    width: 176px;
  }

  .AllCategoriesMenu {
    max-height: 416px;
    width: 176px;
  }

  .AllCategoriesMainContainer {
    margin-bottom: 64px;
  }
}

@media(min-width: 1280px) {
  .AllCategoriesMainContainer {
    margin-bottom: 64px;
  }

  .AllCategoriesMenu {
    max-height: 416px;
    width: 235px;

  }

  .AllCategoriesBtn {
    width: 174px;
    max-width: 100%;
  }
}