.all-categories-main-container {
  color: #0505054D;
}

.all-categories-content-div {
  max-width: 332px;
  width: 100%;
  display: inline-block;
  font-weight: 500;
  gap: 15px;
  position: relative;
}

.all-categories-btn {
  background: none;
  border: 1px solid #0505054D;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
  width: auto;
  padding: 14px 28px;
  color: #05050580;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.all-categories-btn,
.categories-list li {
  box-sizing: border-box;
}

.all-categories-btn:hover {
  background-color: #9BB537;
  color: #F8F8F8;
}

.all-categories-menu {
  position: relative;
  max-height: 416px;
  overflow-y: auto;
  width: 235px;
  border-radius: 12px;
  margin-top: 15px;
}

.all-categories-menu::-webkit-scrollbar {
  width: 8px;
}

.all-categories-menu::-webkit-scrollbar-thumb {
  background-color: #0505052E;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.all-categories-menu::-webkit-scrollbar-button {
  display: none;
}

.categories-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.categories-list li {
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  line-height: 20px;
}

.categories-list li:hover {
  color: #9BB537;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .all-categories-content-div {
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .all-categories-btn {
    font-size: 16px;
    color: #0505054D;
    padding: 10px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    white-space: nowrap;
  }

  .categories-list {
    display: flex;
    gap: 15px;
    color: #0505054D;
    padding: 14px 18px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

  }

  .categories-list::-webkit-scrollbar {
    display: none;
  }

  .categories-list li {
    border: 1px solid #0505054D;
    border-radius: 15px;
    scroll-snap-align: start;
    flex-shrink: 0;
  }

  .categories-list li:hover {
    background-color: #9BB537;
    color: #F8F8F8;
  }

  .all-categories-menu {
    position: relative;
    width: 100%;
    margin: 0px;
  }
}

@media(min-width: 1280px) {
  .all-categories-content-div {
    max-width: 1024px;
  }
}