.ScrollToUp{
    width: 3.2rem;
    height: 3.2rem;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    cursor: pointer;
    display: none;
    z-index: 1000;
    border-radius: 50%;
}
.ScrollToUp:hover{
    background-color: #889E2F;
}

.PageSelect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 14px;
    width: 100%;
    max-width: 335px;
    margin: 4rem auto;
  }
  .PageSelect button{
    cursor: pointer;
  }
  .tui-is-selected {
    background-color: var(--primary-color);
  }
  .PageSelect .page-button {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 22px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    color: var(--text-color);
    background-color: (transparent);
    border: 1px solid rgba(var(--text-color-rgb), 0.3);
    border-radius: 50%;
  }
  
  .PageSelect .active-page {
    background-color: var(--primary-color);
    border: 1px solid rgba(var(--primary-color-rgb), 1);
  }
  .left-direction-arrow,
  .right-direction-arrow {
    display: flex;
    gap: 4px;
  }
  .page-number-btn {
    display: flex;
    gap: 8px;
  }
  .tui-prev,
  .tui-first {
    background-color: #050505;
    color: rgba(var(--text-color-rgb), 0.3);
    width: 44px;
    height: 44px;
  }
  .tui-page-btn.tui-next-is-ellip {
    display: none !important;
  }
  .tui-page-btn.tui-prev-is-ellip.tui-first-child {
    display: none !important;
  } 
  .tui-next,
  .tui-last {
    background-color: var(--primary-color);
  }
  .PageSelect .left-end svg,
  .PageSelect .left-one svg {
    color: #f8f8f8;
  }
  .PageSelect .right-end svg,
  .PageSelect .right-one svg {
    fill: #050505;
  }
  @media screen and (min-width: 768px) {
    .PageSelect {
      max-width: 446px;
      margin: 6.4rem auto;
      gap: 24px;
    }
    .PageSelect .page-button {
      width: 44px;
      height: 44px;
    }
    .left-direction-arrow,
    .right-direction-arrow {
      gap: 8px;
    }
    .page-number-btn {
      gap: 10px;
    }
  }