.SliderContainer {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.HeadeMainChefsSection {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.content,
.HeadeMainChefsSection img {
  border-radius: 8px;
  background-size: cover;
}
.HeadeChefsMain {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}
.Slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 8px;
}
.ImageContainer {
  border-radius: 8px;
  background-color: #050505;
  flex: 1;
  aspect-ratio: 137/468;
  overflow: hidden;
}
.SmallImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content,
.ImageMed {
  flex: 2;
  aspect-ratio: 351/468;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at center,
    rgba(60.78%, 70.98%, 21.57%, 0.6) 0,
    rgba(0, 0, 0, 0.6) 50%
  );
}
.SecondContent::before {
  background: radial-gradient(
    circle at center,
    rgba(60.78%, 70.98%, 21.57%, 0.6) 0,
    rgba(0, 0, 0, 0.2) 75%
  ) !important;
}
.ImageWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.plate {
  object-fit: contain;
  object-position: center;
}
.ImageLarge {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.TextContent {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #f8f8f899;
  padding: 16px;
  text-align: center;
}
.ImageMed {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.LastItem {
  background-color: #050505;
  border-radius: 15px;
  overflow: hidden;
}
.Slide p {
  font-size: 14px;
  line-height: 18px;
}
.Slide .subtext {
  font-size: 12px;
  line-height: 14px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .HeadeMainChefsSection {
    width: 100%;
    max-width: 100%;
    height: 468px;
  }
  .Slide {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 8px;
  }
  .ImageContainer {
    flex: 1;
    aspect-ratio: 137/468;
    overflow: hidden;
  }
  .content {
    flex: 2;
    aspect-ratio: 351/468;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }
  .ImageMed {
    flex: 2;
    display: block;
    aspect-ratio: 351/468;
    overflow: hidden;
  }
  .TextContent {
    padding: 8px;
    font-size: 12px;
  }
  .SlideButton {
    padding: 8px;
    gap: 4px;
  }
  .indicator {
    width: 6px;
    height: 6px;
  }
}
@media (max-width: 767px) {
  .Slide {
    flex: 0 0 100%;
    height: 302px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 8px;
  }
  .ImageContainer {
    flex: 1;
    aspect-ratio: 137/468;
    overflow: hidden;
  }
  .content {
    flex: 3;
    aspect-ratio: 351/468;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }
  .ImageMed {
    display: none;
  }
  .TextContent {
    padding: 8px;
    font-size: 12px;
  }
  .ImageLarge {
    width: 70%;
    height: 70%;
  }
  .SlideButton {
    padding: 8px;
    gap: 4px;
  }
  .indicator {
    width: 6px;
    height: 6px;
  }
}

@media (min-width: 1280px) {
  .SliderContainer {
    max-width: 602px;
  }
  .HeadeMainChefsSection {
    height: 468px;
  }
  .Slide {
    flex: 0 0 602px;
    max-width: 602px;
    gap: 12px;
  }
  .ImageContainer {
    flex: 0 0 115px;
    min-width: 115px;
  }
  .content {
    flex: 0 0 230px;
    min-width: 230px;
  }
  .LastItem {
    flex: 0 0 230px;
    min-width: 230px;
  }
  .LastItem .ImageMed {
    width: 400px;
    height: 515px;
    object-position: center;
    transform: translate(-8%, -5%);
  }
  .Slide p {
    font-size: 16px;
  }
  .TextContent {
    padding: 20px;
  }
  .SlideButton {
    padding: 20px;
  }
  .indicator {
    width: 10px;
    height: 10px;
  }
}

.HeroSectionOrderNow {
  display: flex;
  width: Fixed (335px) px;
  height: Hug (143px) px;
  margin-top: 64.5px;
  margin-bottom: 28px;
  gap: 14px;
  opacity: 0px;
}

.HeroSectionOrderCard {
  background: white;
  padding: 20px;
  margin: auto;
  text-align: left;
  width: Fixed (335px) px;
  height: Hug (143px) px;
  top: 137px;
  left: 20px;
}

.HeroSectionOrderTitle {
  width: 335px;
  height: 93px;
  font-family: Inter;
  font-size: 26px;
  font-weight: 600;
  line-height: 31.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.HeroSectionHighlight {
  font-style: italic;
  color: #7ea03f;
  font-family: Inter;
  font-size: 26px;
  font-weight: 400;
  line-height: 31.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.HeroSectionOrderP {
  color: #555;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 335px;
  height: 36px;
  margin-top: 16px;
}

.HeroSectionOrderButton {
  display: inline-block;
  background-color: white;
  margin-top: 32px;
  border: 1px solid #7ea03f;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #050505;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-align: center;
  width: 127px;
  height: 45px;
  padding: 14px 14px 14px 14px;
  gap: 10px;
}

.HeroSectionOrderButton:hover {
  background: #7ea03f;
  color: white;
}

@media screen and (min-width: 768px) {
  .HeroSectionOrderNow {
    display: flex;
    width: Fixed (446px) px;
    height: Hug (193px) px;
    right: 132px;
    position: relative;
    gap: 16px;
    opacity: 0px;
  }

  .HeroSectionOrderCard {
    background: white;
    width: Fixed (446px) px;
    height: Hug (193px) px;
    top: 141px;
    left: 32px;
    gap: 16px;
    opacity: 0px;
  }

  .HeroSectionOrderTitle {
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 446px;
    height: 129px;
    gap: 0px;
    opacity: 0px;
  }

  .HeroSectionHighlight {
    color: #7ea03f;

    font-family: Inter;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    line-height: 43.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .HeroSectionOrderP {
    color: #555;
    max-width: 408px;
    height: 48px;
    margin-top: 16px;
    margin-bottom:20px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .HeroSectionOrderButton {
    display: inline-block;
    border: 1px solid #7ea03f;
    text-decoration: none;
    font-weight: bold;
    color: #050505;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-align: center;
    width: 127px;
    height: 45px;
    padding: 14px 14px 14px 14px;

    border-radius: 15px;
    opacity: 0px;
    margin-top: 32px;
  }

  .HeroSectionOrderButton:hover {
    background: #7ea03f;
    color: white;
  }
}

@media screen and (min-width: 1280px) {
  .HeroSectionOrderNow {
    display: flex;
    width: Fixed (446px) px;
    height: Hug (193px) px;
    position: relative;
    right: 20px;
  }

  .HeroSectionOrderCard {
    background: white;
    width: Fixed (446px) px;
    height: Hug (193px) px;

    gap: 16px;
    opacity: 0px;
  }

  .HeroSectionOrderTitle {
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 446px;
    height: 129px;
    gap: 0px;
    opacity: 0px;
  }

  .HeroSectionHighlight {
    color: #7ea03f;
    font-family: Inter;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    line-height: 43.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .HeroSectionOrderP {
    color: #555;
    max-width: 100%;
    height: 48px;
    gap: 0px;
    opacity: 0px;
    margin-top: 16px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .HeroSectionOrderButton {
    display: inline-block;
    border: 1px solid #7ea03f;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    gap: 32px;
    color: #050505;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-align: center;
    width: 127px;
    height: 45px;
    padding: 14px 14px 14px 14px;
  }

  .HeroSectionOrderButton:hover {
    background: #7ea03f;
    color: white;
  }
}
.SlideButton {
  padding: 16px;
  display: flex;
  justify-content: center;
  gap: 8px;
  z-index: 10;
}
.indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s;
}
.indicator.active{
  background-color: rgb(155, 181, 55);
}
