.heroModalNowForm {
  display: none; /* flex */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.orderNowModal {
  display: none;
  position: fixed;
  /* position: absolute;  */
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderModalContent{
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  position: relative;
}

.orderModalTitle {
  color: #333;
  margin-bottom: 15px;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.orderNowClose {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  color: #050505;
}

.heroOrderModalForm {
  display: flex;
  flex-direction: column;
}

.orderModalLabel {
  margin-top: 18px;
  margin-bottom: 8px;
  width: 100%;
  height: 18px;
  font-weight: bold;
  color: #05050580;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.heroOrderModalInput,
.heroOrderModalTextarea{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 14px;
  color: #05050580;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.heroOrderModalTextarea {
  resize: vertical;
  min-height: 80px;
}

.heroOrderSubmitBtn {
  background-color: #a6c54a;
  color: white;

  border: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 40px;
  font-size: 14px;

  height: 48px;
}

.heroOrderSubmitBtn:hover {
  background-color: #8faa39;
}

@media (min-width: 768px) {
  .orderModalContent {
    width: 100%;
    height: auto;
  }
}
