.order-now-modal-body {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.order-now-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.order-modal-content {
  background: white;
  padding: 20px;
  position: relative;
  width: 335px;
  height: 582px;
  gap: 0px;
  border-radius: 15px;
  opacity: 0px;
}
.order-now-title {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.order-now-close {
  width: 100%;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.order-now-form-group {
  margin-bottom: 15px;
}

.order-now-form-group label {
  display: block;
  color: #05050580;
  margin-bottom: 5px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.order-now-form-group input,
.order-now-form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #05050533;
  border-radius: 15px;
  display: block;
  color: #05050580;
  margin-bottom: 5px; 
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.order-now-send-button {
  color: #f8f8f8;
  width: 100%;
  background: #9bb537;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  gap: 10px;
  text-align: center;
  top: 508px;
  left: 20px;
  padding: 15px 162px 15px 162px;
  gap: 10px;
  opacity: 0px;
}
.order-now-button-text {
  width: 35px;
  height: 16px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
